<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reminder.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @reminder.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @reminder.start_time %>
</p>

<p>
  <strong>Color:</strong>
  <span style="background: <%= @reminder.color || '#fff' %>;"></span> 
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
