<%= javascript_pack_tag 'reminders'%>
<div>
  <div id="header" class="header">
    <%= link_to calendar.url_for_previous_view do %>
      <div id="left" class="left"></div>
    <% end %>
    <h1>
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    </h1>
    <%= link_to calendar.url_for_next_view do %>
      <div id="right" class="right"></div>
    <% end %>
  </div>

  <div class="month new">
    <% date_range.each_slice(7) do |week| %>
      <div class="week">
        <% week.each do |day| %>
          <%= content_tag :div, class: calendar.td_classes_for(day) do %>
            <div onClick="showReminders(<%= day.day %>,'<%= day.to_s.parameterize %>')">
              <div class="day-name"><%= t('date.abbr_day_names')[day.wday] %></div>
              <div class="day-number"><% passed_block.call day.day %></div>
              <div class="day-reminders">
                <% @reminders.each do |reminder| %>
                  <% if reminder.start_time.day == day.day %>
                    <span style="background: <%= reminder.color || '#fff' %>;"></span>
                  <% end %>    
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% week.each_with_index do |day, index| %>
          <div class="details" id="detail-<%= day.to_s.parameterize %>" style="display: none;">
            <div class="arrow" style="left: <%= 32 + index*62 %>px"></div>
            <% @reminders.each do |reminder| %>
              <div class="reminders">
                <div class="reminder">
                  <% if reminder.start_time.day == day.day %>
                    <div class="reminder-category" style="background: <%= reminder.color || '#fff' %>;"></div>
                    <span><%= reminder.start_time.strftime('%H:%M') %> - <%= reminder.end_time.strftime('%H:%M') %></span>
                    <span><%= reminder.description %></span>    
                  <% else %>    
                    <span>No reminders</span>
                  <% end %>    
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>

